* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con {
    display: flex;
    column-gap: 20px;
}
.content-box {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.control-panel {
    display:  flex;
    column-gap: 15px;
}
.radio-block {
    display: flex;
    flex-direction: column;
}
.radio-label {
    display: flex;
    column-gap: 7px;
}